canvas {
    /* border: 1px solid green; */
    /* width: 800px;
    height: 500px; */
}

.canvas-main-container {
    /* grid-template-rows: repeat(8, 1fr); */
    /* grid-template-columns: repeat(8, 1fr); */
    /* grid-gap: 2px; */
    /* height: 100vh; */
    /* background-color: yellow; */
    width: 100%;
    /* align-items: center; */
}

.canvas-main-controller {
    /* max-width: 500px; */
    width: 350px;
    margin-left: 10px;
    /* flex: 1; */
}

/* .canvas-gallery {
    width: 700px;
} */

/* .canvas {
    grid-column: 1 / 9;
    grid-row: 2 / 7;
} */

/* .canvas-text {
     width: 500px; 
} */

.canvas-control-box {
    flex-direction: row;
    /* width: 500px; */
    /* align-items: stretch;*/
    /* width: 100%; */
    /* background-color: green; */
}

.canvas-control-text {
    flex-direction: row;
    /* width: 500px; */
    /* align-items: stretch;*/
    /* width: 100%; */
    /* background-color: yellow; */
}

.canvas-download {
    /* text-align: center; */
    width: 100%;
    background-color: lightgrey;
}

.canvas-download {
    flex: 1;
}

.canvas-align-right {
    background: url('../icons/Align-right-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-align-center {
    background: url('../icons/Align-center-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-align-left {
    background: url('../icons/Align-left-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-move-up {
    background: url('../icons/Arrow-small-up-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-move-down {
    background: url('../icons/Arrow-small-down-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-move-right {
    background: url('../icons/Arrow-small-right-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-move-left {
    background: url('../icons/Arrow-small-left-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-color {
    /* width: 60px; */
    flex: 1;
}

.canvas-font {
    /* width: 90px; */
    flex: 1;
}

.canvas-size {
    width: auto;
    /* flex: 1; */
}

.canvas-add-text {
    background: url('../icons/Playlist-add-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-delete-text {
    background: url('../icons/Delete-01.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
}

.canvas-wrapper {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

/* .canvas-clear {
    background: url('../icons/delete-512.png') no-repeat left center;
    width: 60px;
    height: 40px;
    background-size: 100%;
    flex: 1;
} */

@media (max-width: 450px) {
    .canvas-main-container {
        flex-direction: column;
    }
    .canvas-main-controller {
        margin-left: 0px;
        margin-top: 10px;
    }
}