canvas {
    border: 1px solid green;
    /* width: 800px;
    height: 500px; */
}

/* .canvas-main-container {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2px;
    height: 100vh;
    background-color: yellow;
} */

.canvas-main-container {
    flex-direction: column;
    align-items: center;
}

.canvas-gallery {
    /* width: 700px; */
}

/* .canvas {
    grid-column: 1 / 9;
    grid-row: 2 / 7;
} */

.canvas-text input {
    /* width: 700px; */
}

.canvas-control-box {
    flex-direction: row;
    /* align-items: stretch;
    width: 100%; */
    /* background-color: green; */
}

.canvas-control-text {
    flex-direction: row;
    /* align-items: stretch;
    width: 100%; */
    /* background-color: yellow; */
}

.canvas-download {
    text-align: center;
    background-color: lightgrey;
}

.canvas-clear {
    flex: 1;
}

.canvas-download {
    flex: 1;
}

.canvas-align-right {
    background: url('../icons/Align-right-01.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-align-center {
    background: url('../icons/Align-center-01.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-align-left {
    background: url('../icons/Align-left-01.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-move-up {
    background: url('../icons/Arrow-small-up-01.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-move-down {
    background: url('../icons/Arrow-small-down-01.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-move-right {
    background: url('../icons/Arrow-small-right-01.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-move-left {
    background: url('../icons/Arrow-small-left-01.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-add-text {
    background: url('../icons/Plus-01.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-delete-text {
    background: url('../icons/Remove-02.png') no-repeat left center;
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.canvas-font {
    width: auto;
}

.canvas-size {
    width: auto;
}

.canvas-color{
    width: 50px;
}