/* HELPERDS */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.align-center {
    align-items: center
}

.flex.wrap {
    flex-wrap: wrap;
}

.hide {
    display: none;
}

.align-self-center {
    align-self: center;
}